<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row  justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Crea tu cuenta</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="nombre" type="text" placeholder="Nombre Usuario" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="correo" type="email" placeholder="tucorreo@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="contraseña" type="password" placeholder="contraseña" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirmar" type="password" placeholder="confirmar contraseña" ngModel required></ion-input>
              </ion-item>
            </div>
            <div text-center *ngIf="!isCorrect" >
                <ion-label color="danger" >Las contraseñas no coinciden</ion-label>
            </div>
            <div padding>
              <ion-button  color="warning" size="large" type="submit" [disabled]="form.invalid" expand="block">Registrarme</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div text-center>
        <a routerLink='/login'>
          volver</a>
    </div>
    
  </ion-content>